# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
*.env

# Ignore data files (optional: comment out if you want to version control data)
data/*.txt
data/*.ods
data/*.sid

# Ignore system files
.DS_Store

# Ignore Jupyter runtime
.jupyter/

# Ignore VSCode settings (if used)
.vscode/